@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&family=Zen+Old+Mincho&display=swap");

:root {
  --logo-color: #6070ff;
  --title-color: #172b4d;
  --secondary-text-color: #344563;
  --terciary-text-color: #7f8cff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f4f5f7;
}

header {
  width: 100%;
}

nav {
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#container {
  margin: 0 auto auto auto;
  width: 100%;
  height: 100vh;
  background-color: #f4f5f7;
  align-items: center;
}

main {
  width: 100%;
  background-color: #fff;
}

#logo {
  font-weight: 700;
  color: var(--logo-color);
  text-decoration: none;
}

#logo:hover {
  color: var(--secondary-text-color);
  transition-duration: 1s;
  cursor: pointer;
}

.bx-menu {
  font-size: 28px;
  color: var(--logo-color);
  font-weight: bold;
}

.bx-menu:hover {
  cursor: pointer;
}

#present {
  background-size: 100% 100%;
  width: 100%;
  height: 92%;
  border-radius: 0 0 0 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#titles {
  line-height: 150%;
  text-align: left;
}

h1 {
  padding-right: 2%;
  line-height: 120%;
  font-weight: bold;
  color: var(--title-color);
  margin-bottom: 20px;
}

#present-text {
  padding-right: 2%;
  font-weight: 400;
  color: var(--secondary-text-color);
}

.contact-p {
  margin: 15px 0;
  color: var(--terciary-text-color);
}

.icons > li > a {
  padding: 5px 19px 0 0;
}

.icons {
  list-style: none;
  display: flex;
}

#contact {
  text-align: left;
}

/* starting second project */

/* works section */

#works {
  background-color: #f4f5f7;
  margin: auto;
  margin-top: 142px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 120px 10px;
  padding-bottom: 8%;
}

.wraper {
  display: flex;
  width: 100%;
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 24px;
}

.image {
  min-width: 295px;
  min-height: 220px;
  border-radius: 8px;
  justify-self: center;
  align-self: center;
}

.work-info {
  margin: 0 auto;
}

.image > img {
  width: 100%;
}

.description-wraper {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.description-wraper > img {
  width: 2%;
  height: 2%;
  margin: 0 8px;
}

.frameworks-list {
  display: flex;
  list-style: none;
  width: 100%;
}

.framework {
  margin: 5px 10px 5px 0;
  padding: 1% 2%;
  background-color: #ebebff;
  color: #6070ff;
  font-weight: 500;
  border-radius: 8px;
}

.project-btn {
  padding: 10px 15px;
  color: #396df2;
  font-weight: 500;
  border: 1px solid #dfe1e6;
  background-color: #fff;
  border-radius: 10px;
}

.project-btn:hover {
  cursor: pointer;
}

.project-btn:active {
  background-color: #f4f5f7;
}

.work-child {
  line-height: 24px;
}

.work-info > {
  color: #091e42;
  line-height: 44px;
  font-weight: 700;
}

.description-wraper > h3 {
  color: #344563;
  font-weight: bold;
}

.description-wraper > p {
  color: #6b778c;
  font-weight: 400;
}

.work-text {
  color: #344563;
  font-weight: 400;
}

/* about me section */

#container2 {
  background-color: #fff;
  border-radius: 0 150px 0 0;
  width: 100%;
  height: auto;
}

#about-me {
  border-radius: 0 150px 0 0;
  background-color: #fff;
  display: flex;
  margin: auto;
  padding-top: 100px;
}

#aboutme-desc {
  padding-top: 20px;
}

#ab-me-technical {
  padding: 0 0 0 20px;
  width: 100%;
}

#frames {
  display: flex;
  width: auto;
}

#lang-list {
  display: grid;
  grid-gap: 10px;
  list-style: none;
  width: 100%;
}

#lang-list > li {
  padding: 10px;
  background-color: #f4f5f7;
  border-radius: 8px;
  text-align: left;
}

#lang-list > li > img {
  object-fit: cover;
  object-position: center center;
}

.technical {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#languajes {
  flex-direction: column;
  padding: 20px 5px 20px 0;
}

#lang-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px 50px 20px 0;
}

.technical2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
  height: 20%;
  border-bottom: 1px solid #dfe1e6;
  padding: 0 50px 0 0;
}

.ab-me-title {
  color: #000;
  font-size: 20px;
  font-weight: 500;
}

#ab-me {
  font-size: 40px;
  font-weight: 700;
  color: #091e42;
  line-height: 52px;
  padding-right: 31px;
}

#ab-me-text {
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  font-weight: 400;
}

.icons2 {
  margin-left: 15px;
}

#lang-list > li > p {
  font-weight: 500;
  color: #253858;
}
